.test-1 {
  color: blue;
  font-size: 38px;
}

section::after {
  content: '';
  display: block;
  width: 100%;
  border-bottom: 2px solid #aaa;
}

.program__first-list-item {
  font-size: 18px;
  font-weight: 500;
  color: green;
}
.program__second-list-item {
  color: orange;
}
.program__third-list-item {
  color: #555;
}
