<section class="test88">
  <h3 class="test88__title">Наконец-то</h3>
  <p class="test88__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt animi dolore nobis ab sit qui
    placeat ducimus quidem, praesentium rerum eaque quam perspiciatis doloribus vel debitis, quod,
    odit earum alias.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia autem esse libero labore, id
    assumenda dolorem est asperiores repellendus ipsam velit nobis illum voluptatum hic beatae eius
    temporibus voluptatem qui.
  </p>
</section>
